*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/screen_shots/
/app/src/main/res/drawable/disk.jpg
/app/src/main/res/drawable/bag.jpg
/app/src/main/res/drawable/jacket.jpg
